.home-container-container {
	position: absolute;
	background-color: rgb(14, 12, 12);
	position: absolute;
	height: 100%;
	background-image: url('../Images/background-vid.gif');
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}
.home-body {
	height: 100%;
	background-color: rgba(0, 0, 0, 0.726);
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 1;
	filter: brightness(90%);
}
.logo {
	width: 50%;
	align-self: center;
	margin-bottom: 20px;
	margin-top: -100px;
	transition: all 1s ease-in-out;
	background-attachment: s;
}
.small-logo {
	width: 20%;
	min-width: 300px;
	align-self: center;
	/* margin-top: -100px; */
	margin-bottom: 20px;
	transition: all 1s ease-in-out;
}
.buttons-container {
	/* position: absolute; */
	z-index: 10;
	margin-top: 20px;
	align-self: center;
	display: flex;
	flex-direction: row;
	width: 35%;
	justify-content: space-between;
	transition: all 1s ease-in-out;
}
.button {
	color: rgb(252, 184, 106);
	background-color: transparent;
	line-height: 30px;
	width: 150px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 4px;
	border: 1px solid transparent;
	transition: all 0.35s ease-in-out;
}
.button:hover {
	background-color: rgb(252, 184, 106);
	letter-spacing: 4px;
	color: rgb(51, 31, 31);
	line-height: 30px;
	width: 150px;
	text-align: center;
	border-radius: 35px;
	font-size: 14px;
	border: 1px solid transparent;
	cursor: pointer;
	transition: all 0.35s ease-in-out;
}
.button:active {
	background-color: rgb(214, 181, 143);
	color: rgb(83, 23, 23);
	letter-spacing: 4px;
	line-height: 30px;
	width: 150px;
	text-align: center;
	border-radius: 35px;
	font-size: 14px;
	border: 1px solid transparent;
	cursor: pointer;
	transition: all 0.35s ease-in-out;
}
.button:focus {
	outline: 0;
}
.highlight-button {
	background-color: rgb(226, 204, 176);
	letter-spacing: 4px;
	color: rgb(141, 37, 37);
	line-height: 30px;
	width: 150px;
	text-align: center;
	border-radius: 35px;
	font-weight: bold;
	font-size: 14px;
	border: 1px solid transparent;
	cursor: pointer;
	transition: all 0.35s ease-in-out;
}
.highlight-button:focus {
	outline: 0;
}
.content {
	/* position: absolute; */
	height: 65%;
	align-self: center;
	align-content: center;
	width: 75%;
	background-color: rgb(3, 3, 3);
	border: 5px solid rgb(252, 184, 106);
	border-radius: 7px;
	opacity: 1;
	transition: all 1s ease-in-out;
}
.content-closed {
	/* position: absolute; */
	height: 0px;
	width: 40%;
	align-self: center;
	opacity: 0;
	transition: all 1s ease-in-out;
}
@media (min-aspect-ratio: 16/9) {
	.background-video {
		width: 100%;
		height: auto;
	}
}
@media (max-aspect-ratio: 16/9) {
	.background-video {
		width: auto;
		height: 100%;
	}
}
/* @media (max-width: 767px) {
  .background-video {
    display: none;
  }
  .home-container-container {
    background: url('')
  } 
} */
.about-content-container {
	display: flex;
	flex-direction: row;
	/* justify-content: space-between; */
	width: 100%;
	height: 100%;
}
.about-content-container .content-links {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 20%;
	min-width: 150px;
	align-self: center;
	border-right: 5px solid rgb(252, 184, 106);
}
.sub-links {
	background-color: transparent;
	border: 1px solid transparent;
	width: 100%;
	color: rgb(252, 184, 106);
	font-size: 17px;
	font-weight: 800;
	height: 25%;
	transition: all 0.2s ease-in-out;
}
.sub-links-highlighted {
	background-color: rgb(252, 184, 106);
	border: 1px solid transparent;
	color: rgb(51, 31, 31);
	border: 1px solid transparent;
	width: 100%;
	font-size: 17px;
	font-weight: 800;
	height: 25%;
	transition: all 0.2s ease-in-out;
}
.sub-links-highlighted:focus {
	outline: 0;
}
.sub-links:hover {
	background-color: rgb(252, 184, 106);
	border: 1px solid transparent;
	color: rgb(51, 31, 31);
	font-size: 17px;
	font-weight: 800;
	width: 100%;
	cursor: pointer;
	height: 25%;
	transition: all 0.2s ease-in-out;
}
.sub-links:focus {
	outline: 0;
}
.about-content {
	height: 90%;
	width: 70%;
	display: flex;
	margin-left: 5%;
	margin-right: 5%;
	flex-direction: column;
	justify-content: center;
	font-size: 14px;
	color: aliceblue;
}
.bio-photo-1 {
	width: 30%;
	min-width: 180px;
	margin-top: 20px;
	margin-right: 3%;
	float: left;
	border: 5px solid rgb(226, 204, 176);
	border-radius: 5px;
}
.bio-photo-2 {
	width: 30%;
	min-width: 180px;
	margin-top: 20px;
	margin-left: 3%;
	filter: brightness(90%);
	float: right;
	border: 5px solid rgb(226, 204, 176);
	border-radius: 5px;
}
.content-bio {
	text-align: left;
	margin-top: 5%;
	color: rgb(226, 204, 176);
	line-height: 25px;
	overflow: scroll;
}
.content-bio::first-letter {
	/* font-size: 50px; */
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-info-container {
	position: absolute;
	bottom: 10px;
	font-size: 10.5px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}
.footer-info {
	color: rgb(122, 112, 97);
	margin-left: 5px;
	margin-right: 5px;
}
.footer-links {
	color: rgba(252, 184, 106, 0.308);
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}
.footer-links:hover {
	color: rgb(252, 184, 106);
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}
.actual-content-container {
	position: absolute;
	width: 100%;
	text-align: center;
}
